.ueca-nav-link {
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    transition: color 0.2s, text-decoration 0.2s;
}

.ueca-nav-link:hover {
    opacity: 0.8;
}

.ueca-nav-link.nav-link-underline-none {
    text-decoration: none;
}

.ueca-nav-link.nav-link-underline-hover {
    text-decoration: none;
}

.ueca-nav-link.nav-link-underline-hover:hover {
    text-decoration: underline;
}

.ueca-nav-link.nav-link-underline-always {
    text-decoration: underline;
}

.ueca-nav-link-disabled {
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}
