.ueca-nav-item {    
    background-color: transparent;
    transition: background-color 0.2s;
}

.ueca-nav-item:hover:not(:disabled) {
    background-color: var(--nav-item-hover);
}

.ueca-nav-item:disabled {
    color: var(--nav-item-disabled);
}

.ueca-nav-item.active:not(:disabled) {
    background-color: var(--nav-item-active);
}
